# Dev
ruff==0.0.292
black==23.1.0
pre-commit==3.4.0
virtualenv==20.26.3
ipdb==0.13.11
click==8.1.7
tenacity==8.5.0
tach>=0.9.0

# Test
pytest-cov==4.1.0
pytest-timeout==2.2.0
pytest-dependency==0.5.1
testbook==0.4.2
requests_mock==1.11.0
## For SwiftStack access
awscli==1.33.33
nbval==0.11.0

# cve
onnx>=1.16.0
setuptools>=70.0.0
aiohttp>=3.9.4
jupyterlab>=3.6.8
jupyter_server>=2.14.1  # https://github.com/advisories/GHSA-hrw6-wg82-cm62
Werkzeug>=3.0.3
nltk>=3.9.1

#MoCo
numpy>=1.26.4
jaxtyping==0.2.34
pot>=0.9.5
