# For documentation, see: https://docs.gitlab.com/ee/user/project/codeowners/
#
# *** NOTE ***
#   KEEP THE LISTS OF INDIVIDUAL CODEOWNERS/TEAMS IN ALPHABETICALLY SORTED ORDER
#


#
## MISSING MEMBERS
#
# @menliu - DSMBind owner
# @amoradzadeh - Enformer owner
# @tshimko - MolMIM owner


#
## MAPPING of GitHub USERNAME to PERSON in ALPHABETICAL ORDER on username
#
# @DejunL - Dejun Lin
# @broland-hat - Brian Roland
# @cye-nvidia - Cory Ye
# @dorotat-nv - Dorota
# @farhadrgh - Farhad Ramezanghorbani
# @guoqing-zhou - Guoqing Zhou
# @gwarmstrong - George Armstrong
# @jomitchellnv - Jonathan Mitchell
# @jstjohn - John St. John
# @jwilber  - Jared Wilber
# @kdidiNVIDIA - Kieran Didi
# @malcolmgreaves - Malcolm Greaves
# @nv-mcclure - Zachary McClure
# @nvdreidenbach - Danny Reidenbach
# @ohadmo - Ohad Mosafi
# @polinabinder1 - Polina Binder
# @pstjohn - Peter St. John
# @sichu2023 - Simon Chu
# @skothenhill-nv-nv - Steven Kothen-Hill
# @trvachov - Timur Rvachov
# @yzhang123 - Yang Zhang


# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
##                                                                                                                #
#### Infrastructure                                                                                               #
##                                                                                                                #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Documentation changes are user-facing
docs/ @trvachov

# Requires bionemo FW team or PM review to change CODEOWNERS or README
CODEOWNERS @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @ntadimeti @polinabinder1 @trvachov @yzhang123
README.md @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @ntadimeti @polinabinder1 @trvachov @yzhang123

# Requires bionemo FW team review when modifying: environment, internal-only code, CI, interacting with the codebase
internal/ @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @kdidiNVIDIA @jwilber @malcolmgreaves @polinabinder1 @trvachov @yzhang123
setup/Dockerfile* @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @polinabinder1 @trvachov @yzhang123
setup/requirements*.txt @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @polinabinder1 @trvachov @yzhang123
CONTRIBUTING.md @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @polinabinder1 @trvachov @yzhang123
.secrets.baseline @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @polinabinder1 @trvachov @yzhang123
.pre-commit-config.yaml @broland-hat @cye-nvidia @dorotat-nv @jomitchellnv @jwilber @kdidiNVIDIA @malcolmgreaves @polinabinder1 @trvachov @yzhang123


# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
##                                                                                                                #
#### Model Owners -- Changes to models must require review to its respective model PiC                            #
#### https://docs.google.com/document/d/1-ODmxHKJy5jH5fTgA0iiOqRU2bGIlMtoYKf0MbpsNag/edit?usp=sharing             #
##                                                                                                                #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

##
## diffdock @guoqing-zhou
##
bionemo/model/molecule/diffdock @guoqing-zhou @DejunL
tests/test_diffdock_training.py @guoqing-zhou
tests/test_diffdock_inference.py @guoqing-zhou
tests/test_diffdock_model.py @DejunL
tests/test_so3.py @guoqing-zhou
tests/test_pickles_to_wds_tars.py @guoqing-zhou
tests/test_size_aware_batching.py @guoqing-zhou
bionemo/data/diffdock @guoqing-zhou @DejunL
examples/tests/test_data/molecule/diffdock @guoqing-zhou @DejunL
examples/molecule/diffdock @guoqing-zhou
docs/bionemo/preprocessing-bcp-training-diffdock.md @guoqing-zhou
docs/bionemo/images/diffdock_fw_overview.png @guoqing-zhou @nv-mcclure
docs/bionemo/images/diffdock_1.png @guoqing-zhou @nv-mcclure
docs/bionemo/images/diffdock_3.png @guoqing-zhou @nv-mcclure
docs/bionemo/images/diffdock_2.png @guoqing-zhou @nv-mcclure
docs/bionemo/images/diffdock_4.png @guoqing-zhou @nv-mcclure
docs/bionemo/images/diffdock_perf.png @guoqing-zhou @nv-mcclure
docs/bionemo/models/diffdock.md @guoqing-zhou @nv-mcclure
docs/bionemo/notebooks/model_training_diffdock.ipynb @guoqing-zhou
docs/build/html/_sources/preprocessing-bcp-training-diffdock.md @guoqing-zhou
docs/build/html/_sources/models/diffdock.md @guoqing-zhou @nv-mcclure
docs/build/html/_sources/notebooks/model_training_diffdock.ipynb @guoqing-zhou
docs/build/html/models/diffdock.html @guoqing-zhou
docs/build/html/_images/diffdock_fw_overview.png @guoqing-zhou
docs/build/html/_images/diffdock_1.png @guoqing-zhou
docs/build/html/_images/diffdock_3.png @guoqing-zhou
docs/build/html/_images/diffdock_2.png @guoqing-zhou
docs/build/html/_images/diffdock_4.png @guoqing-zhou
docs/build/html/_images/diffdock_perf.png @guoqing-zhou
docs/build/html/.doctrees/preprocessing-bcp-training-diffdock.doctree @guoqing-zhou
docs/build/html/.doctrees/models/diffdock.doctree @guoqing-zhou
docs/build/html/.doctrees/notebooks/model_training_diffdock.doctree @guoqing-zhou
docs/build/html/preprocessing-bcp-training-diffdock.html @guoqing-zhou
docs/build/html/notebooks/model_training_diffdock.html @guoqing-zhou
docs/build/jupyter_execute/notebooks/model_training_diffdock.ipynb @guoqing-zhou

##
## dnabert @skothenhill-nv
##
bionemo/model/dna/dnabert @skothenhill-nv
tests/conf/dnabert_test.yaml @skothenhill-nv
tokenizers/dna/dnabert @skothenhill-nv
docs/bionemo/models/dnabert.md @skothenhill-nv
docs/bionemo/models/dnabert.md @skothenhill-nv
docs/readme-images/dnabert1xa100.png @skothenhill-nv
docs/readme-images/dnabert8xa100.png @skothenhill-nv

##
## dsmbind @menliu @farhadrgh
##
bionemo/model/molecule/dsmbind @farhadrgh
bionemo/data/dsmbind @farhadrgh
examples/molecule/dsmbind @farhadrgh
examples/tests/test_data/molecule/dsmbind @farhadrgh
tests/test_dsmbind_data_utils.py @farhadrgh
tests/test_dsmbind_model.py @farhadrgh
tests/test_dsmbind_inference.py @farhadrgh
docs/bionemo/models/dsmbind.md @farhadrgh

##
## enformer (TODO FIXME: requires handoff to member of bionemo team!!!)
##
#bionemo/model/dna/enformer
# MISSING TESTS
#examples/dna/enformer
# MISSING DOCS

##
## esm-1 @farhadrgh @jomitchellnv
## esm-2 @farhadrgh @jomitchellnv
##
bionemo/model/protein/esm1nv/ @farhadrgh @jomitchellnv
tests/test_esm1nv_inference.py @farhadrgh @jomitchellnv
tests/test_esm2nv_forward.py @farhadrgh @jomitchellnv
tests/test_triton/test_esm1nv_triton.py @farhadrgh @jomitchellnv @malcolmgreaves
tests/test_triton/test_esm2nv_triton.py @farhadrgh @jomitchellnv @malcolmgreaves
tests/test_examples/test_esm1nv_inference_notebook.py @farhadrgh @jomitchellnv @malcolmgreaves
tests/test_examples/test_esm2nv_inference_notebook.py @farhadrgh @jomitchellnv @malcolmgreaves
tests/test_esm2nv_data_utils.py @farhadrgh @jomitchellnv
tests/test_protein_dataloader.py @jstjohn @farhadrgh @jomitchellnv @sichu2023
tests/_test_esm2_uf90clustermapping_dataset.py @farhadrgh @jomitchellnv
tests/test_esm2nv_training_utils.py @farhadrgh @jomitchellnv
tests/data/esm2_golden_values @farhadrgh @jomitchellnv
tests/data/esm2_golden_values @farhadrgh @jomitchellnv
tokenizers/protein/esm1nv @farhadrgh @jomitchellnv
examples/protein/esm1nv @farhadrgh @jomitchellnv
examples/protein/esm2nv @farhadrgh @jomitchellnv
docs/bionemo/images/esm2nv_2.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm2nv_3.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm2nv_1.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm2nv_4.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm1nv_1.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm1nv_2.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm1nv_3.png @farhadrgh @jomitchellnv
docs/bionemo/images/esm1nv_4.png @farhadrgh @jomitchellnv
docs/bionemo/models/esm1-nv.md @farhadrgh @jomitchellnv
docs/bionemo/models/esm2-nv.md @farhadrgh @jomitchellnv
docs/bionemo/deep-dive-esm1-pytriton-inference.md @farhadrgh @jomitchellnv
docs/bionemo/notebooks/model_training_esm2nv.ipynb @farhadrgh @jomitchellnv
docs/bionemo/notebooks/model_training_esm1nv.ipynb @farhadrgh @jomitchellnv
docs/bionemo/notebooks/protein-esm2nv-clustering.ipynb @farhadrgh @jomitchellnv
docs/bionemo/notebooks/protein-esm1nv-clustering.ipynb @farhadrgh @jomitchellnv
docs/bionemo/preprocessing-bcp-training-esm2nv.md @farhadrgh @jomitchellnv
docs/readme-images/esm2_perf_accumulate32_bionemo_tflops.png @farhadrgh @jomitchellnv
docs/readme-images/esm2_days_to_train.png @farhadrgh @jomitchellnv
docs/readme-images/esm2_data_flowchart.png @farhadrgh @jomitchellnv
docs/build/html/_sources/models/esm1-nv.md @farhadrgh @jomitchellnv
docs/build/html/_sources/models/esm2-nv.md @farhadrgh @jomitchellnv
docs/build/html/_sources/deep-dive-esm1-pytriton-inference.md @farhadrgh @jomitchellnv
docs/build/html/_sources/notebooks/model_training_esm2nv.ipynb @farhadrgh @jomitchellnv
docs/build/html/_sources/notebooks/model_training_esm1nv.ipynb @farhadrgh @jomitchellnv
docs/build/html/_sources/notebooks/protein-esm2nv-clustering.ipynb @farhadrgh @jomitchellnv
docs/build/html/_sources/notebooks/protein-esm1nv-clustering.ipynb @farhadrgh @jomitchellnv
docs/build/html/_sources/preprocessing-bcp-training-esm2nv.md @farhadrgh @jomitchellnv
docs/build/html/preprocessing-bcp-training-esm2nv.html @farhadrgh @jomitchellnv
docs/build/html/models/esm2-nv.html @farhadrgh @jomitchellnv
docs/build/html/models/esm1-nv.html @farhadrgh @jomitchellnv
docs/build/html/deep-dive-esm1-pytriton-inference.html @farhadrgh @jomitchellnv
docs/build/html/_images/esm2_days_to_train.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm2nv_2.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm2nv_3.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm2nv_1.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm2nv_4.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm1nv_1.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm1nv_2.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm1nv_3.png @farhadrgh @jomitchellnv
docs/build/html/_images/esm1nv_4.png @farhadrgh @jomitchellnv
docs/build/html/.doctrees/preprocessing-bcp-training-esm2nv.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/models/esm2-nv.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/models/esm1-nv.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/deep-dive-esm1-pytriton-inference.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/notebooks/model_training_esm2nv.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/notebooks/protein-esm1nv-clustering.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/notebooks/protein-esm2nv-clustering.doctree @farhadrgh @jomitchellnv
docs/build/html/.doctrees/notebooks/model_training_esm1nv.doctree @farhadrgh @jomitchellnv
docs/build/html/notebooks/protein-esm1nv-clustering.html @farhadrgh @jomitchellnv
docs/build/html/notebooks/protein-esm2nv-clustering.html @farhadrgh @jomitchellnv
docs/build/html/notebooks/model_training_esm1nv.html @farhadrgh @jomitchellnv
docs/build/html/notebooks/model_training_esm2nv.html @farhadrgh @jomitchellnv
docs/build/jupyter_execute/notebooks/model_training_esm2nv.ipynb @farhadrgh @jomitchellnv
docs/build/jupyter_execute/notebooks/model_training_esm1nv.ipynb @farhadrgh @jomitchellnv
docs/build/jupyter_execute/notebooks/protein-esm2nv-clustering.ipynb @farhadrgh @jomitchellnv
docs/build/jupyter_execute/notebooks/protein-esm1nv-clustering.ipynb @farhadrgh @jomitchellnv

##
## esm-2 + LoRA @camirr
##
bionemo/model/protein/downstream/protein_model_finetuning.py @camirr
# MISSING TESTS
./examples/protein/esm2nv/conf/downstream_sec_str_LORA.yaml @camirr
# MISSING DOCS

##
## equidock @amoradzadeh @farhadrgh
##
bionemo/model/protein/equidock @farhadrgh
tests/test_equidock.py @farhadrgh
tests/test_equidock_inference.py @farhadrgh
tests/equidock_test_data @farhadrgh
bionemo/data/equidock @farhadrgh
examples/protein/equidock @farhadrgh
docs/bionemo/images/equidock_3.png @farhadrgh
docs/bionemo/images/equidock_2.png @farhadrgh
docs/bionemo/images/equidock_1.png @farhadrgh
docs/bionemo/images/equidock_4.png @farhadrgh
docs/bionemo/models/equidock.md @farhadrgh
docs/bionemo/notebooks/model_training_equidock.ipynb @farhadrgh
docs/readme-images/equidock_epoch_per_hour.png @farhadrgh
docs/build/html/_sources/models/equidock.md @farhadrgh
docs/build/html/_sources/notebooks/model_training_equidock.ipynb @farhadrgh
docs/build/html/models/equidock.html @farhadrgh
docs/build/html/_images/equidock_3.png @farhadrgh
docs/build/html/_images/equidock_2.png @farhadrgh
docs/build/html/_images/equidock_1.png @farhadrgh
docs/build/html/_images/equidock_4.png @farhadrgh
docs/build/html/_images/equidock_epoch_per_hour.png @farhadrgh
docs/build/html/.doctrees/models/equidock.doctree @farhadrgh
docs/build/html/.doctrees/notebooks/model_training_equidock.doctree @farhadrgh
docs/build/html/notebooks/model_training_equidock.html @farhadrgh
docs/build/jupyter_execute/notebooks/model_training_equidock.ipynb @farhadrgh

##
## megamolbart
##
bionemo/model/molecule/megamolbart
tests/test_megamolbart_data_utils.py
tests/test_examples/test_megamolbart_inference_notebook.py @malcolmgreaves
tokenizers/molecule/megamolbart
examples/molecule/megamolbart
docs/bionemo/models/megamolbart.md
docs/build/html/_sources/models/megamolbart.md
docs/build/html/models/megamolbart.html
docs/build/html/.doctrees/models/megamolbart.doctree

##
## molmim
##
bionemo/model/molecule/molmim @jstjohn
bionemo/model/molecule/mol_enc_dec_model_base.py @jstjohn
tests/test_triton/test_molmim_triton.py @jstjohn
docs/bionemo/images/molmim_wandb_charts.png @jstjohn
docs/bionemo/images/MolMIM_molecule_generation_1.png @jstjohn
docs/bionemo/images/MolMIM_molecule_generation_2.png @jstjohn
docs/bionemo/models/molmim.md @jstjohn
docs/bionemo/notebooks/MolMIM_GenerativeAI_local_inference_with_examples.ipynb @jstjohn
docs/bionemo/notebooks/cma_es_guided_molecular_optimization_molmim.ipynb @jstjohn
docs/bionemo/notebooks/model_training_molmim.ipynb @jstjohn
docs/readme-images/molmim_training_throughput.png @jstjohn
fw2nim_examples/molmim @malcolmgreaves

##
## openfold @broland-hat @kdidiNVIDIA
##
bionemo/model/protein/openfold @broland-hat @kdidiNVIDIA
tests/test_openfold_checkpoint.py @broland-hat @kdidiNVIDIA
tests/test_openfold_inference.py @broland-hat @kdidiNVIDIA
docs/bionemo/models/openfold.md @broland-hat @kdidiNVIDIA

##
## prott5 (TODO FIXME: requires handoff to member of bionemo team!!)
##
#bionemo/model/protein/prott5nv
#tests/test_prott5nv_inference.py
#tests/test_examples/test_prott5nv_inference_notebook.py
#examples/protein/prott5nv
#tokenizers/protein/prott5nv
#docs/bionemo/models/prott5nv.md
#docs/build/html/_sources/models/prott5nv.md
#docs/build/html/models/prott5nv.html
#docs/build/html/.doctrees/models/prott5nv.doctree
