# ------------------NEMO RUN CONFIGURATION------------------
# The following variables are used for configuring nemo_run executors for cluster execution.
# This setup allows for user-specific configurations without modifying the source code.

# User name for cluster login.
NEMORUN_USER=???

# Absolute path to the SSH key for cluster access.
NEMORUN_SSH_KEY_PATH=???

# Default project name for organizing experiments.
NEMORUN_PROJECT_NAME=codon-fm

# Base directory on the cluster for storing results. This path should be accessible by the user on the cluster.
# Example: /lustre/fsw/portfolios/healthcareeng/users/<your_user>/results
NEMORUN_RESULTS_DIR=???

# Directory on the cluster where the data is located.
# Example: /lustre/fsw/portfolios/healthcareeng/projects/healthcareeng_virtualcell/data/codonfm
NEMORUN_DATA_DIR=???

# Default Docker container image to be used for the jobs.
NEMORUN_CONTAINER_IMAGE="gitlab-master.nvidia.com/bio-foundation-models/codon-fm:latest"

# Account name for cluster job submission. Defaults to 'healthcareeng_virtualcell' if not set.
NEMORUN_ACCOUNT=healthcareeng_virtualcell

# WANDB key should be set for logging 
WANDB_API_KEY=??